<footer>
  <div class="container">
    <div class="col-xs-12">
      <p>&copy; 2015 Sprint. <span class="hidden-xs">All rights reserved.</span></p>
      <ul class="footer-links">
        <li><a href="http://www.sprint.com/legal/index.html?INTNAV=Footer:SPP:Legal" target="_blank">Legal</a></li>
        <li><a href="http://www.sprint.com/legal/privacy.html?INTNAV=Footer:SPP:Privacy" target="_blank">Privacy</a></li>
        <li><a href="http://www.sprint.com/legal/privacy.html?INTNAV=Footer:SPP:Regulatory" target="_blank">CTIA/Regulatory</a></li>
        <li><a href="http://www.sprint.com/legal/ad_choices.html?INTNAV=Footer:SPP:AdChoices" target="_blank">AdChoices</a></li>
      </ul>
    </div>
  </div>
</footer>