<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop
	    http://www.springframework.org/schema/aop/spring-aop.xsd
	    http://www.springframework.org/schema/context
	    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.ericsson.cac.sprint.adapters" />

    <aop:aspectj-autoproxy />
 
    
    <bean id="IndexerSearchApi" class="org.springframework.remoting.jaxws.JaxWsPortProxyFactoryBean">
        <property name="serviceInterface" value="com.drutt.ws.msdp.media.search.v2.IndexerSearchApi" />        
        <property name="namespaceUri" value="http://ws.drutt.com/msdp/media/search/v2" />
        <property name="serviceName" value="IndexerSearchService" />
	 <property name="wsdlDocumentUrl" value="${QueryMediaProxyService.wsdl}" />
        <property name="endpointAddress" value="${QueryMediaProxyService.endpoint}" />
        
    </bean>    


<bean 
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
 
		<property name="location">
		<value>file:${confdir}/shopservices.properties</value>
	<!-- <value>classpath:config.properties</value> -->
		
		</property>
	</bean>
</beans>
