<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop
	    http://www.springframework.org/schema/aop/spring-aop.xsd
	    http://www.springframework.org/schema/context
	    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.ericsson.cac.sprint.adapters" />

    <aop:aspectj-autoproxy />

    <bean id="queryAccountInfoPortType" class="org.springframework.remoting.jaxws.JaxWsPortProxyFactoryBean">
        <property name="serviceInterface" value="com.sprint.integration.interfaces.queryaccountinfoservice.v1.queryaccountinfoservice.QueryAccountInfoPortType" />
        <property name="namespaceUri" value="http://integration.sprint.com/interfaces/QueryAccountInfoService/v1/QueryAccountInfoService.wsdl" />
        <property name="serviceName" value="QueryAccountInfoService" />
        
		<property name="wsdlDocumentUrl" value="${QueryAccountInfoService.wsdl}" />
        <property name="endpointAddress" value="${QueryAccountInfoService.endpoint}" />
    </bean>

    </beans>
