<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop
	    http://www.springframework.org/schema/aop/spring-aop.xsd
	    http://www.springframework.org/schema/context
	    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.ericsson.cac.sprint.adapters" />

    <aop:aspectj-autoproxy />

    <bean id="querySubscriberInfoPortType" class="org.springframework.remoting.jaxws.JaxWsPortProxyFactoryBean">
       <property name="serviceInterface" value="com.sprint.integration.interfaces.querysubscriberinfoservice.v1.querysubscriberinfoservice.QuerySubscriberInfoPortType" />
        <property name="namespaceUri" value="http://integration.sprint.com/interfaces/QuerySubscriberInfoService/v1/QuerySubscriberInfoService.wsdl" />
        <property name="serviceName" value="QuerySubscriberInfoService" />
        
        <property name="wsdlDocumentUrl" value="${QuerySubscriberInfoService.wsdl}" />
        <property name="endpointAddress" value="${QuerySubscriberInfoService.endpoint}" />
    </bean>

</beans>
